// ### Primary

$clr-blue-950: hsl(213, 96%, 18%);
$clr-blue-300: hsl(228, 100%, 84%);
$clr-blue-200: hsl(206, 94%, 87%);
$clr-purple-600: hsl(243, 100%, 62%);
$clr-red-500: hsl(354, 84%, 57%);

// ### Neutral

$clr-grey-500: hsl(231, 11%, 63%);
$clr-grey-250: lighten($clr-grey-500, 25%);
$clr-purple-200: hsl(229, 24%, 87%);
$clr-blue-100: hsl(218, 100%, 97%);
$clr-blue-50: hsl(231, 100%, 99%);
$clr-white: hsl(0, 100%, 100%);

$clr-stop: red;
$clr-go: green;
