@use "../abstracts/variables" as *;

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $clr-blue-100;
}

main {
  background-color: $clr-white;
  border-radius: 10px;
  box-shadow: 0px 7px 15px -5px $clr-grey-250;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  max-width: 1440px;
  margin-inline: auto;
  padding: 0.75rem;

  .steps-wrapper {
    min-width: 506px;
    min-height: 400px;
  }

  .step {
    padding-block: 1.5rem 2rem;
    padding-inline-end: 4rem;
    // margin-block-end: 1rem;

    h2 {
      margin-block-end: 0.5rem;
      font-size: 2rem;
    }
  }
}
