#step-five {
  display: none;
  // display: grid;
  gap: 0.5rem;
  grid-template-rows: 60px min-content min-content;
  place-content: center;
  justify-items: center;
  padding-inline-end: 3rem;
  height: 120%;

  img {
    width: 50px;
    margin-bottom: 1rem;
  }

  p {
    width: 50ch;
    line-height: 1.5;
    text-align: center;
  }
}
