@use "../abstracts/media_queries" as mq;

#step-five {
  display: none;
  gap: 0.5rem;
  grid-template-rows: 60px min-content min-content;
  place-content: center;
  justify-items: center;
  padding-inline-end: 3rem;
  height: 120%;

  @include mq.media-sm {
    margin-top: 5rem;
    padding: 0;
  }

  img {
    width: 50px;
    margin-bottom: 1rem;
  }

  p {
    max-width: 50ch;
    line-height: 1.5;
    text-align: center;
  }
}
