@use "../abstracts/variables" as *;

#steps-buttons-wrapper {
  // outline: 2px solid red;
  display: flex;
  justify-content: space-between;
  padding-inline-end: 4rem;
  padding-bottom: 0.75rem;

  button {
    border-radius: 7px;
    padding: 1rem 1.75rem;
    border: none;
    cursor: pointer;
  }

  button:first-child {
    // visibility: hidden;
    cursor: pointer;
    display: none;
    color: $clr-grey-500;
    background: transparent;
    border: none;
    padding: 0 0.5rem;

    &:hover {
      color: $clr-blue-950;
    }
  }

  button:last-child {
    color: $clr-white;
    background-color: $clr-blue-950;
    margin-left: auto;

    &:hover {
      background-color: $clr-purple-600;
    }
  }
}
