@use "../abstracts/variables" as *;
@use "../abstracts/media_queries" as mq;
@use "../base/typography" as t;
#steps-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  padding-inline-end: 4rem;
  position: relative;

  @include mq.media-sm {
    align-items: center;
    background-color: $clr-white;
    grid-column: 1 / -1;
    grid-row: 8 / -1;
    padding-inline: 1.5rem;
    width: 100dvw;
  }
  #step-one-warning,
  #step-two-warning {
    color: $clr-stop;
    display: none;
    font-weight: t.$font-bold;
    position: absolute;
    right: 4rem;
    top: -65%;
  }
  button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 1.75rem;
  }
  button:first-child {
    background: transparent;
    border: none;
    color: $clr-grey-500;
    cursor: pointer;
    display: none;
    padding: 0 0.5rem;

    &:hover {
      color: $clr-blue-950;
    }
  }
  button:last-child {
    background-color: $clr-blue-950;
    color: $clr-white;
    margin-left: auto;
    text-wrap: nowrap;
    width: 128px;

    &:hover {
      background-color: $clr-purple-600;
    }
  }
}
